<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="mid">


        {{>header}}
        <form>
            <input type="text" placeholder="Location">
            <button>search</button>
        </form>
        <p id="msgOne"></p>
        <p id="msgTwo"></p>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>