h1{
    color: cadetblue;
}
input{
    padding: 8px 16px;
    margin-top: 30px;
}
button{
    padding: 10px 12px;
    background-color: #d3d3ff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#msgOne{
    color: #009700;
}
.mid{
    position: absolute;
    top: 35%;
    left: 40%;
}